body {
  background-color: blueviolet;
  font-family: 'Roboto', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
}

.tag-options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 46%;
  padding: 1%;
  margin-top: 1%;
  background-color: white;
}

.expanded {
  height: 120px;
  visibility: visible;
}

.filter-button {
  align-self: center;
}

form {
  margin-bottom: 2%;
}

.recipe {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: white;
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  /* cursor: pointer; */
}

/* Test .recipe-info */

.recipe-info {
  opacity: 0;
  height: 0;
  overflow: scroll;
  transition: all .3s ease-in-out;
}

.recipe-info.show {
  opacity: 1;
  height: 300px;
  transition: all .3s ease-in-out;
}

.recipe img {
  background: cover;
  width: 200px;
}

.show-recipe {
  align-self: flex-end;
  transform: translate(-95%, -95%)
}

.remove-recipe,
.add-cook {
  width: 30%;
}

.favorite {
  align-self: flex-start;
  margin-top: 2%;
  margin-bottom: 2%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.favorite i {
  transition: all .2s ease-in-out;
}

.favorite i:hover, .favorite i:active {
  transform: scale(1.4)
  /* color: gray; */
}

.favorite i:active:hover {
  -webkit-transform: scale3d(2, 2, 2);
  transform: scale3d(2);
}

.hidden {
  display: none;
}
