/*
Dark Green
#0A210F;
Medium Green
#14591D;
Light Green
#99AA38;
Yellow
#E1E289;
Blue
#ACD2ED;
Off-white
#F8F8FF
*/


body {
  /* background-color: #99AA38; */
  background: #70e1f5; /* fallback for old browsers */
  background: linear-gradient(0.25turn, #99AA38, #E1E289);
 /* background: -webkit-linear-gradient(to left, #70e1f5, #ffd194);  */
 /* Chrome 10-25, Safari 5.1-6 */
 /* background: linear-gradient(to left, #70e1f5, #ffd194); */
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  /* background: rgb(238,238,255); */
  /* background: #70e1f5; /* fallback for old browsers */

 background: linear-gradient(-165deg, #14591D, #99AA38);
 box-shadow: 0px 2px 24px 2px rgba(10,33,15,0.17);
 /* background: #F1F2B5;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to left, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to left, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
::placeholder {
  color: rgba(255,255,255,.75);
  font-size: 16px;
}

.nav-btns-container {
  align-self: center;
  margin: 2% 5% 2% 0%;
  width: 25%;
}

.buttons {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid white;
  background: none;
  cursor: pointer;
  color: #F8F8FF;
  margin-left: 1%;
}

.buttons:hover,
.search-buttons:hover,
.buttons:hover:active,
.search-buttons:hover:active {
  border: 1px solid #E1E289;
  color: #E1E289;
}

.search-buttons {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid white;
  background: none;
  cursor: pointer;
  color: #F8F8FF;
}

h1 {
  color: white;
  margin-left: 1%;
  align-self: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: auto;
}

.nothing-yet {
  color: white;
  margin-left: 5%;
}

.add-remove-container {
  display: flex;
}



.tag-options {
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 90%;
  padding: 1.5%;
  margin-top: 1%;
  border-radius: 0 20px 20px 20px;
  background: linear-gradient(0.25turn, #E1E289, #F8F8FF);
  /* background-color: white; */
}

.expanded {
  height: 120px;
  visibility: visible;
}

.filter-button {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #0A210F;
  background: none;
  cursor: pointer;
  color: #0A210F;
  width: 60%;
  align-self: center;
  transform: translate(15%, 20%);
  margin-bottom: 2%;
}

.main-search {
  background: none;
  border: 0px;
	border-bottom: 1px solid #F8F8FF;
  outline: 0;
  padding: 4px;
  margin-right: 1%;
  margin-left: 0.5%;
  color: white;
}

/* .main-search:focus:active {
  background: none;
  border: 0px;
  border-bottom: 1px solid #F8F8FF;
  outline: 0;
} */

form {
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 1%;
}

form input {
  width: 25%;
}

.recipe {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 420px;
  background: linear-gradient(200deg, #E1E289, #F8F8FF);
  /* background: linear-gradient(-0.5turn, #F8F8FF, #ACD2ED); */
  padding: 2%;
  margin-bottom: 4%;
  margin-left: 3%;
  border-radius: 0 10% 4px 0;
  /* border-left: 6px solid #ACD2ED; */
  border-left: 4px solid #14591D;
  transition: all .2s ease-in-out;
  box-shadow: 5px 5px 24px 2px rgba(10,33,15,0.14);
  /* cursor: pointer; */
}

/* Test .recipe-info */

.recipe-info {
  opacity: 0;
  height: 0;
  overflow: scroll;
  transition: all .3s ease-in-out;
}

.recipe-info.show {
  opacity: 1;
  height: 300px;
  transition: all .3s ease-in-out;
}

.recipe img {
  background: cover;
  width: 200px;
  border-radius: 0 10px 10px 0;
  border-left: 3px solid #14591D;
  align-self: center;
  margin: 4% 0;
}


.show-recipe {
  align-self: flex-end;
  transform: translate(-25%, -95%);
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #0A210F;
  background: none;
  cursor: pointer;
  color: #0A210F;
  width: 25%;
}

.show-recipe-favorite {
  /* padding: 5px; */
  align-self: center;
  width: 40%;
  transform: translate(0, 0);
  /* border-radius: 4px; */
  /* border: 2px solid white;
  background: none;
  cursor: pointer;
  color: #F8F8FF; */
}

.filter-button:hover {
    border: 1px solid #99AA38;
    color: #99AA38;
}


.remove-recipe:hover,
.remove-recipe:hover:active,
.add-cook:hover,
.add-cook:hover:active,
.show-recipe:hover,
.show-recipe:hover:active {
  border: 1px solid #99AA38;
  color: #99AA38;
}

.remove-recipe,
.add-cook {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #0A210F;
  background: none;
  cursor: pointer;
  color: #0A210F;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 6%;
  width: 50%;
}



.to-cook {
  color: white;
  margin-left: 2%;
}

/* .remove-recipe:hover,
.remove-recipe:hover:active,
.add-cook:hover,
.add-cook:hover:active {
  border: 1px solid #99AA38;
  color: #99AA38;
} */

.favoriteBtn {
  align-self: flex-start;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  /* transition: all .1s ease-in-out; */

}

.favorite {
  transition: all .1s ease-in-out;
}

.favorite:hover, .favorite i:active {
  transform: scale(1.4)

}

.favorite:active:hover {
  -webkit-transform: scale3d(2, 2, 2);
  transform: scale3d(2);
}

.hidden {
  display: none;
}

@media screen and (max-width: 1048px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .nav-btns-container {
    width: 30%;
  }

  .tag-options {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* width: 90%; */
    /* padding: 1.5%;
    margin-top: 1%;
    border-radius: 0 20px 20px 20px;
    background: linear-gradient(0.25turn, #E1E289, #F8F8FF); */
    /* background-color: white; */
  }

}


.cook-recipe-btn {
  margin-top: 10%;
  margin-left: 18%;
  width: 40%;
  align-self: center;
}

@media screen and (max-width: 800px) {
  .nav-btns-container {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
}

@media screen and (max-width: 714px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media screen and (max-width: 550px) {
  .tag-options {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
