body {
  background-color: blueviolet;
}

.tag-options {
  width: 400px;
  height: 200px;
  background-color: white;
}

.expanded {
  height: 120px;
  visibility: visible;
}

.hidden {
  display: none;
}
